[2016-03-26 13:39] puranjayjain opened #1 "Just for reference"
Need to fix
- docs (add real life use case e.g with input text)
- time picker on portrait mode
- force portrait mode option
- dialog z-index 99999
- line height issue in h2 and h4 (replace them with div and then style them)

[2016-03-27 05:57] #1 closed

[2016-03-28 10:15] cmfcmf opened #2 "Images not found if using a theme"
Hi @puranjayjain!

First of all: Thank you for this _really awesome library_!

The image paths inside the theme files are incorrect. It says: `../images/ic_keyboard_arrow_left_black_24px.svg`, which would work for the base css, but doesn't work for themes, as they are deeper down the directory structure.

[2016-03-28 10:20] puranjayjain commented on #2
@cmfcmf thanks for the feedback! If you are using a theme why not just replace the correct theme file from the folder into the root directory instead? e.g I want to use the deep-purple theme in light mode so i'll copy it from css/theme/dark/deep-purple/here to css/here

[2016-03-28 10:22] puranjayjain commented on #2
@cmfcmf I'm also adding themes to the docs so you'll be able to click and download the theme and how to use it will also be written there

[2016-03-28 10:24] cmfcmf commented on #2
Ahh I see. Thank you for the clarification.

Thanks! I'm guessing I was a little to early then. :smile: If it's going to be documented then it's all good :+1:

[2016-03-28 10:24] #2 closed

[2016-03-29 11:42] lockys opened #3 "Problems when showing modal on mobile devices."
Thanks for your awesome work :)
I'm using your component in my project.
I found that there is a transparent area between the heading of the modal and body of the modal when running on mobile devices. (Test on both latest version chrome and safari on iPhone 5s, also happened in the responsive mode in the development console of Chrome and Safari.)

![2016-03-29 7 35 40](https://cloud.githubuserconte

[2016-03-29 13:01] puranjayjain commented on #3
@lockys thanks for pointing out the issue, it seems to be a general bug related to portrait mode in the time picker dialog, a fix is on its way

[2016-03-29 13:32] puranjayjain commented on #3
@lockys check if the issue is still persisting in the v1.0.1 release, if still found then :smile: feel free to reopen this issue.

[2016-03-29 20:38] cmfcmf opened #4 "Add events"
It is currently not possible to detect when the datepicker / timepicker is closed (i.e. the cancel / ok button is clicked). It would be great to have an event fired when the picker is closed.

[2016-03-29 21:23] puranjayjain commented on #4
@cmfcmf I was also thinking about it and other possible use cases. I'm adding events in the next release.

[2016-03-30 07:14] #3 closed

[2016-03-30 07:18] puranjayjain commented on #4
Feel free to reopen this issue or open a new one if this persists

[2016-03-30 07:18] #4 closed

[2016-03-30 07:53] lockys commented on #3
it works great now :) thanks for your effort!

[2016-04-01 19:50] westy92 opened #6 "Documentation site link issue"
The Moment.JS link is wrong here:
http://puranjayjain.github.io/md-date-time-picker/#about/tools

It's pointing at http://puranjayjain.github.io/md-date-time-picker/momentjs.com instead of http://momentjs.com.

[2016-04-02 05:45] puranjayjain commented on #6
@westy92 thanks i'll fix it asap

[2016-04-02 05:52] #6 closed

[2016-04-06 14:07] leocaseiro opened #7 "Add Time picker demo"
Hi, That would be nice if we could also see the timepicker on demo. Thanks

[2016-04-06 14:09] puranjayjain commented on #7
@leocaseiro thanks for the suggestion I will add that as well

[2016-04-06 17:29] puranjayjain commented on #7
@leocaseiro Added the time picker to the about page. Feel free to re-open this issue or open a new one in case you feel there should be more examples :smile:

[2016-04-06 17:29] #7 closed

[2016-04-06 17:31] puranjayjain opened #8 "Projects / App / Website Showcase Requests"
Feel free to add your project/app/link to this issue to add it to website showcase section which is coming soon!

[2016-04-06 19:45] warrior7981 opened #9 "Doesn't appear to work correctly in Internet Explorer"
This appears to be a well designed component and is exactly what I'm looking for but I'm having some issues in IE.

I tested this in Internet Explorer 11.  (Browser support says: Internet Explorer 8.  I assume this is supposed to mean 8+.)

Opening the included demo.html in IE 11 results in all of the dialogs opening immediately.  If I correct that issue by creating the mdDateTimePickers right bef

[2016-04-07 03:58] puranjayjain commented on #9
Thanks for pointing it out i'll look into it.

[2016-04-07 06:02] puranjayjain commented on #9
@warrior7981 the issue is now addressed in the release 1.1.1 for ie 11 test it on lower versions for any problems and reopen this issue or a new one if it occurs

[2016-04-07 06:02] #9 closed

[2016-04-07 14:04] warrior7981 commented on #9
Thanks!

[2016-04-12 14:05] digitalkaoz opened #16 "usage with webpack"
im trying to use your awesome work in my project, but im failing hard...

im using webpack and babel for use of es6...

none of these methods worked for me :/

[code]

i see you are not exporting a `default` in your js, maybe thats the problem, but i think importing the `dist` version should work then...

any help is appreciated!

[2016-04-12 14:24] puranjayjain commented on #16
@digitalkaoz I know about that problem with the project in it's state doesnt support webpack, amd, commonjs, es6 modules system. However, I'm trying to support it. I'll add support for it in the next minor release. Give me a time of 3 days (at max). Meanwhile if you have any suggestions or a quick way send a pr :smile:

[2016-04-12 14:43] digitalkaoz commented on #16
i currently fiddeling around a bit a need to dig into a bit more, ping me if you have something working

[2016-04-14 07:32] digitalkaoz commented on #16
@puranjayjain any news?

[2016-04-14 08:19] puranjayjain commented on #16
@digitalkaoz it will be done today am working on it and running some tests

[2016-04-14 08:21] digitalkaoz commented on #16
:-*

[2016-04-14 13:35] puranjayjain commented on #16
@digitalkaoz can you try the latest build (not released just pull from the master branch) and tell if it works for you? that'll be great

[2016-04-14 13:52] digitalkaoz commented on #16
works like a charm...but it seems its not applying the choosen Date/Time back to the Input Field? Guess i have to implement this tiny piece myself?

[2016-04-14 14:07] puranjayjain commented on #16
@digitalkaoz  It should work or perhaps I think it has some problem in my implementation? Please suggest I am pretty new to webpack. Btw how are using the modules -> requirejs or browserify or something else.

Now a new problem has arised with the module, it works with amd/umd/what not but not with simple globals in browser. So I am splitting the js folder into globals and modules and also adding

[2016-04-14 14:10] puranjayjain commented on #16
@digitalkaoz also tell me if you are able to implement it with the input field :grin:

[2016-04-14 14:15] digitalkaoz commented on #16
i think this might be a good template for non es6 usage: https://github.com/umdjs/umd/blob/master/templates/jqueryPlugin.js

i use it like that:

[code]

in my case the `onOk` isnt triggered :/

[2016-04-14 14:42] digitalkaoz commented on #16
this works:

[code]

so this must be reflected in the docs ;)

[2016-04-17 06:38] puranjayjain opened #21 "Missing theme links from docs"
Docs require an update to reflect the new nomenclature of the theme files and css files and also js files

[2016-04-18 13:25] digitalkaoz commented on #16
@puranjayjain did you published it already on npm?

[2016-04-18 13:43] puranjayjain commented on #16
@digitalkaoz sorry didnt get the time this week. I'll try to publish in a day but i'll be sticking to your implementation so you can continue to use it :smile:

[2016-04-19 11:07] puranjayjain commented on #16
@digitalkaoz fixed and published the issue, also updating the docs now feel free to close/reopen the issue after testing it.

[2016-04-20 14:14] puranjayjain commented on #16
sorry forgot to close the issue

[2016-04-20 14:15] puranjayjain commented on #21
fixed in v1.2.0

[2016-04-20 14:15] #21 closed

[2016-04-20 14:35] digitalkaoz commented on #16
@puranjayjain its not really fixed, as you commented out the important `export default` but ill try to wrap it in a UMD so the compiling to a dist-build will succeed

[2016-04-20 14:39] puranjayjain commented on #16
@digitalkaoz oh :sob: although I left a comment above it for users using es6. Right now es6 can't be compiled directly to umd + globals format together (or that I might not be knowing of any such methods). Any suggestions on how to proceed? Although the umd build (in dist) was compiled with export default and the globals one without it.

[2016-04-20 14:47] puranjayjain commented on #16
:tada: found a possible solution http://jspm.io/

[2016-04-20 14:49] digitalkaoz commented on #16
yeah if i have a free evening i could look into solving this.

i thought babel could solve this and provide a solution for all platforms, sadly not?! i dont know jspm, but it looks like it could handle that?!

[2016-04-20 14:50] puranjayjain commented on #16
unfortunately babel alone wasn't able to solve it :disappointed: but jspm looks promising trying it now

[2016-04-20 19:31] puranjayjain commented on #16
@digitalkaoz check the latest build it has been fixed (finally or so I think). The build is now in the default folder of dist/js with support all of umd + amd + global :tada: please try it.
Also the version will be bumped to 2.0.0 as we are following semver and don't want the users to get angry for breaking api as this version introduces breaking changes in api.

**Note**: now the es6 exports is f

[2016-04-21 09:28] danghongthanh commented on #8
Now when i tried npm install md-date-time-picker, i still get old version("md-date-time-picker": "^1.2.0").
Also, Do we have example to use with Webpack?

[2016-04-21 12:04] puranjayjain commented on #8
@danghongthanh it's because the module is not yet released with v2.0.0. I'll be adding some usage examples with webpack on the website soon

[2016-04-25 21:40] drwlrsn opened #29 "`CustomEvent` is not supported in IE11 and lower"
I may have missed something, but when using the dist library on puranjayjain/md-date-time-picker@3fc44bac367c85e8347fe4692d44e313617a0da5 I needed to include a `CustomEvent` polyfill for IE11.

[2016-04-26 00:49] puranjayjain commented on #29
I'll look into it @drwlrsn

[2016-04-27 04:11] puranjayjain commented on #29
@drwlrsn
the reason is because the v2.0.0 had a breaking change when the build tools changed and so won't directly be supporting custom events. However, I am adding the polyfill's link to the website which when included will resolve this issue.

[2016-04-27 04:38] puranjayjain commented on #29
@drwlrsn check the new docs, it is resolved now. Feel free to reopen this issue or open a new one for troubles. :smile:

[2016-04-27 04:38] #29 closed

[2016-04-27 04:39] puranjayjain commented on #16
v2.0.0 released as always, reopen this issue or open a new one for problems

[2016-04-27 04:39] #16 closed

[2016-04-27 08:57] digitalkaoz commented on #16
merci :)

[2016-04-28 07:38] BennyAlex opened #33 "Uncaught TypeError: mdDateTimePicker is not a constructor"
I use Ember 2.4.5 and if I write

I get **'Uncaught TypeError: mdDateTimePicker is not a constructor'**
Any help?

[2016-04-28 08:08] puranjayjain commented on #33
@BennyAlex Sorry I forgot to update this new api on the website.
You can now use the above like,

[code]

Also, please tell the results if this works with emberjs

[2016-04-28 08:34] BennyAlex commented on #33
@puranjayjain Thanks, that works. But now I have the problem that the dialog looks unsharp:
On my site:
![unsharp](https://cloud.githubusercontent.com/assets/17402724/14879996/bbc38548-0d2c-11e6-8cae-1e9f9add3259.png)

On your demo:
![sharp](https://cloud.githubusercontent.com/assets/17402724/14880001/c45527b6-0d2c-11e6-9e5f-1fd2fb69044c.png)

[2016-04-28 08:38] puranjayjain commented on #33
@BennyAlex link for your site, if it's ok?
I guess the problem must be one or multiple of these:
1. The fonts must not be correctly included.
2. A css selector must be interfering with the dialog.

[2016-04-28 10:05] BennyAlex commented on #33
@puranjayjain My app is only local avaible. I integrated the google fonts, md-date-time-picker/dist/fonts, d-date-time-picker/dist/fonts/RobotoTTF and d-date-time-picker/dist/images

[2016-04-28 10:07] BennyAlex commented on #33
now it looks like:
![2016-04-28 12_06_28-timesheetfrontend](https://cloud.githubusercontent.com/assets/17402724/14882575/b62a46be-0d39-11e6-91c6-403d13098297.png)

just a bit unsharp anymore

[2016-04-28 10:56] puranjayjain commented on #33
@BennyAlex if you are using the app mostly on chrome or other webkit based browsers you can try these css property on the unsharp font elements.

[code]

or try them globally

[code]

[2016-05-03 08:24] mahnunchik opened #37 "images folder: why not just use "Material icons""
Hi @puranjayjain

I've faced with the fact that you are using the images for icons.

Why not just use material icons module:
- https://github.com/google/material-design-icons
- https://design.google.com/icons/

[2016-05-03 10:13] puranjayjain commented on #37
@mahnunchik good suggestion but I wanted the dependency to be minimum. I was eventually shifting to a sprite sheet for more compatibility and lesser size of images. I'm not sure if we need to add a full iconset for just two icons.

[2016-05-03 10:26] puranjayjain commented on #33
@BennyAlex was this issue resolved?

[2016-05-03 11:13] mahnunchik commented on #37
You may use just `<` and `>` symbols to reduce amount of dependencies and size to minimum 😉

Also I find it is useful to have instruction how to replace symbols by icons from full icon set (for who already use mdl with full icon set)

[2016-05-03 11:15] puranjayjain commented on #37
@mahnunchik send a PR? :grin:

[2016-05-10 17:30] blackcoliver opened #45 "Cannot read property 'firstChild' of null"
Hi @puranjayjain,

I run the component in Aurelia, but it gives an error: Cannot read property 'firstChild' of null.

Regards.

[2016-05-10 17:37] puranjayjain commented on #45
@blackcoliver can you tell me about the aurelia a little bit? I don't have any experience with it and never heard of it before :disappointed_relieved:

[2016-05-17 09:33] jolic opened #52 "Webpack"
How can md-date-time-picker be used with Webpack? Any examples?

[2016-05-17 09:42] jolic commented on #52
Got it:

[code]

[2016-05-17 09:44] puranjayjain commented on #52
@jolic also the new keyword will be like this in v2.0.0

[code]

Feel free to close this issue if it is resolved :smile:

[2016-05-17 10:20] jolic commented on #52
I'm just inspecting the source and I think it would be better to provide callbacks on the constructor:

[code]

[2016-05-17 10:23] jolic commented on #52
With this you didn't depend on an element and it's clearer for the user...
What do you think?

[2016-05-17 10:34] jolic commented on #52
Maybe it would be nice to contribute the datepicker to https://github.com/tleunen/react-mdl

[2016-05-17 13:13] puranjayjain commented on #52
@jolic i'll start a pr there in some time for the component (possibly two of them)

About the callbacks can you start a PR?

[2016-05-17 14:24] puranjayjain commented on #52
@jolic also if possible can this callback solution be done in a way that we don't have any breaking changes?

Also, how does react mdl differ from material ui? Any ideas?

[2016-05-24 12:52] db-dblank opened #56 "Missing colon between hour and minute in 24-hour format"
![missing-colon](https://cloud.githubusercontent.com/assets/15021504/15504310/c27f0a0c-2194-11e6-8add-a534d5f13614.png)

[2016-05-24 12:59] db-dblank opened #57 "In 24-hour format should be '00', and not '24'"
![00-not24](https://cloud.githubusercontent.com/assets/15021504/15504511/ba38981c-2195-11e6-94b2-54b3c7a2bfc0.png)

[2016-05-24 13:18] db-dblank opened #58 "Error when selecting '24' in 24-hour format"
Error occurs when I select '24', press 'OK', open again the picker and try to select another hour.

![error-24h](https://cloud.githubusercontent.com/assets/15021504/15504758/e2d130b2-2196-11e6-9d85-d9a3b743c638.png)

![error-24h-code](https://cloud.githubusercontent.com/assets/15021504/15504815/233ee6c6-2197-11e6-92a9-4b419126f635.png)

Also when I select '24' for the first time and select any min

[2016-05-24 13:34] db-dblank opened #59 "Argument for 'OK' and 'Cancel' labels"
Argument for  setting the 'OK' and 'Cancel' labels

Key | Default
----- | -----
okLabel | 'OK'
cancelLabel | 'CANCEL'

This way the picker can be configured for other languages.

[2016-05-24 14:25] puranjayjain commented on #56
@db-dblank it is deliberately not being put there since in 24 hour modes you don't essentially put a colon between the values e.g 2400 hours or 1200 hours etc. Similar to the military way of putting the time.

Also, to differentiate between the 24 hour mode and the 12 hour mode.Also, the material design spec is not very clear on this matter.
Although I might implement this if you can provide me wi

[2016-05-24 14:26] puranjayjain commented on #57
I'll look into this bug mostly next week got a lot of work atm. A PR would be really appreciated. :smile:

[2016-05-24 14:28] puranjayjain commented on #33
Feel free to reopen this issue or open a new one if this persists

[2016-05-24 14:28] #33 closed

[2016-05-24 14:47] db-dblank commented on #56
Hi @puranjayjain,

All my apps on Android has the colon between hour and minute, see the Google Calendar app:

![calendar-timepicker](https://cloud.githubusercontent.com/assets/15021504/15508046/5a7d73a2-21a4-11e6-921b-cea2f03e8724.jpg)

Or, add an argument to show or hide de colon.

Thanks.

[2016-05-24 14:48] puranjayjain commented on #56
@db-dblank I'll add the option for it to be configurable that doesn't hurt anybody :smile:

[2016-05-25 08:23] Delagen opened #60 "Update docs in https://puranjayjain.github.io/md-date-time-picker/#documentation/time"
*time & trigger is not a method
*update example with above changes
and may be others )

[2016-05-25 08:44] puranjayjain commented on #60
@Delagen Can you please explain this question I didn't understand you completely.
Did you mean https://puranjayjain.github.io/md-date-time-picker/#documentation/trigger1

[2016-05-25 09:57] delagen commented on #60
![2016-05-25 12 53 14](https://cloud.githubusercontent.com/assets/783335/15535970/334e9426-2278-11e6-9dc6-264b839b3639.png)
![2016-05-25 12 54 09](https://cloud.githubusercontent.com/assets/783335/15535971/3369b1fc-2278-11e6-9579-1b531ff35c67.png)
![2016-05-25 12 55 14](https://cloud.githubusercontent.com/assets/783335/15535972/337a5afc-2278-11e6-9c9e-0440fbf83222.png)

[2016-05-25 10:33] puranjayjain commented on #60
@Delagen I'll look into this error. There must be some inconsistency in the docs

[2016-05-25 12:02] #59 closed

[2016-05-25 12:21] #60 closed

[2016-05-25 12:37] puranjayjain opened #61 "Discussion for test framework"
In the light of recent bugs, it is imperative that this project requires some test cases. This issue is open to any suggestions (and why choose that framework)

[2016-05-25 12:37] #8 closed

[2016-05-25 14:10] #57 closed

[2016-05-25 14:11] #58 closed

[2016-05-25 14:45] db-dblank opened #62 "Improvement in 24-format layout"
Divide hours in two circles, outer circle with hours from 1 to 12 and inner circle with hours from 13 to 00.

This is how the picker is on Android apps, this way the hours would be more spaced and better for clicking, specially on mobile devices. And it looks better. =)

![calendar-timepicker](https://cloud.githubusercontent.com/assets/15021504/15543423/3a50479a-226b-11e6-8ac2-8b880e5d236b.jpg)

[2016-05-25 14:53] puranjayjain commented on #62
@db-dblank That's a nice suggestion but would require major changes in the component which I'm not sure I would be able to do. Moreover, the material design spec is not clear on how to deal with the 24 hour mode at the moment, so it can be left as is.

However, if you want to use this specific style right now you can implement it in your fork. I will gladly point to it for people with custom requi

[2016-05-25 16:09] puranjayjain commented on #56
Contradicting to my original statement.This option should indeed be default and not opt-in and hence colon should be true by default. (removal is not an option until v3.0.0 since this can have breaking changes).

https://www.google.com/design/spec/patterns/data-formats.html#data-formats-date-time

[2016-05-27 04:26] #56 closed

[2016-05-27 04:28] puranjayjain commented on #45
This issue is being closed due to no response from the first reponder for more than 14 days (two weeks) Please provide the information that was asked for and get the issue reopened

[2016-05-27 04:28] #45 closed

[2016-05-27 20:14] PhilippeOberti commented on #52
hey guys, quick question: I'm using datetime picker in a project with Webpack. in my vendor.ts file I load moment and the datetime picker as follow

[code]

then in my angular2 component I'm using moment and the datetime picker like this

[code]

From my angular2 component I can use moment no problem but as soon as I initialize the datetime picker

[code]

it throws an exception

![picker](https:/

[2016-05-28 03:27] puranjayjain commented on #52
@filoucpp you need to configure webpack as done here:
https://webpack.github.io/docs/library-and-externals.html

or modify your require statements as

[code]

[2016-05-28 05:12] mbashiq opened #65 "Is it possible to select the future dates? Currently I am only able to select dates on or before current day."
# Issue Templates

- Search the currently opened issues and past issues before posting a new one.
- Escalate issues by making a reaction of :+1: at the first comment on the issue (the issue author's)
- Be clear and try to open an issue with one problem at a time (open multiple issues if you have multiple problems)

[2016-05-28 06:11] puranjayjain commented on #65
@mbashiq that is possible only if you pass this option: (with how much in the future you want it to be selectable)
https://puranjayjain.github.io/md-date-time-picker/#documentation/future

[2016-05-28 06:44] mbashiq commented on #65
Thank you Very Much.
When I open the above provided link it opens for an instant and goes to main page.
Finally i had to take a screenshot. Thanks though, it solved my problem.

[2016-05-28 06:45] puranjayjain commented on #65
You're welcome :smile:

[2016-05-28 06:45] #65 closed

[2016-05-29 07:28] puranjayjain opened #66 "Fragment build script"
The build file gulpfile.js is very bulky right now. It should be broken down into small scripts with the main gulpfile.js

[2016-05-31 20:33] PhilippeOberti commented on #52
thanks for the answer, the only way I got it working was to write this:

`(<any> window).moment = require('moment');`

once somewhere in the code, and then in every file that uses moment do this

`declare var moment: any;`

thanks for the help!!

[2016-06-01 03:11] puranjayjain commented on #52
@filoucpp congrats it worked for you and thanks for posting the answer too! It would help a lot of people in the future :smile:

[2016-06-02 17:41] elegance66 opened #68 "The OK and Cancel Button cannot be shown on small screen device"
Thanks for your effort on this nice date picker. It works great on Mac Book Pro with Chrome. However, there is a problem on my 4" iPhone 5 with Safari. The resolution is 1136 x 640.
As the attached screenshot, the OK and Cancel button is out of the screen. There is no way to dismiss the picker dialog.
![img_3065](https://cloud.githubusercontent.com/assets/17972743/15754682/fa7a4964-292b-11e6-815c-

[2016-06-02 21:04] jqp5000 opened #69 "DateTimePicker.js:981 - Uncaught TypeError: Cannot read property 'removeChild' of null"
Hi there, while playing around with this great project I'm getting the above exception.

Steps to reproduce:

- Open the default datepicker: // new mdDateTimePicker.default({type: 'date'});
- Multi-click on the previous or next month arrow icon fast enough (5 clicks per second)
- At some point, rather sooner than later, the API will break and the above exception will be thrown. As a result in the

[2016-06-03 01:47] puranjayjain commented on #69
Thanks for posting about this bug @jqp5000 I'll have a look at it.

[2016-06-03 01:48] puranjayjain commented on #68
@elegance66 hmm that seems to be problematic. i'll have a look at it, at most it's a responsiveness issue.

[2016-06-04 17:23] troxler opened #70 "Add support for other locales"
* Date format of
  * Selected date
  * Current month
* First day of week (in many locales, Monday is the first day of week)

[2016-06-04 17:26] puranjayjain commented on #70
@troxler nice suggestions though I would not be able to attempt it at this time. Would be awesome if you or someone could start a PR. keeping this open for reference. :)

[2016-06-04 17:44] troxler opened #71 "Consider mode without "Cancel" and "OK" buttons"
* "OK" is directly triggered by selecting a date or time
* "Cancel" could be triggered by an "x" button on the top right

This would make the view smaller and thus would work better on smaller devices.

[2016-06-04 18:44] troxler commented on #70
@puranjayjain Thanks for the quick reply. Currently, my time resources are scarce as well. I might get back to that in a couple of weeks, though. If anybody else would like to look into it before that, feel free.

[2016-06-05 01:33] puranjayjain commented on #71
That's a good solution to the problem but I was thinking of creating a segmented input component for such matters as the suggestion you are providing is not part of the material design specs.

[2016-07-02 11:36] netTrek commented on #70
Sent you a PR
Regards Saban

[2016-07-03 04:43] #70 closed

[2016-07-03 07:36] #66 closed

[2016-07-13 10:56] varghesethomase opened #86 "How to implement time selection after date selection"
Is there a way to implement time selection followed by date selection which returns the combined date and time?

[2016-07-13 12:34] puranjayjain commented on #86
@varghesethomase can you give me a demo link to this question like on codepen or github or a similar service?

[2016-07-20 16:56] jonnnnyw opened #89 "Hide/show dialog methods"
Would it be possible to expose the hide and show dialog methods in the public API? Having just a toggle method does not work for all use cases. An example is when tabbing through multiple date fields things get messy with just a toggle method.

[2016-07-21 09:41] puranjayjain commented on #89
I'll do that some time when I get free, btw good suggestion.

[2016-07-25 17:32] ramrami opened #90 "Select year not working on firefox 44.0.2"
Click on the year in the header, the years view appear, select a year and click ok. The datepicker close with the following error :

`TypeError: currentYear.scrollIntoViewIfNeeded is not a function`

[2016-07-25 17:48] puranjayjain commented on #90
@ramrami you need to use a polyfill for scrollIntoViewIfNeeded check the docs in the ie section you will find a list of polyfills for ie in it, on the link you will find some for firefox as well. If not try a search for a polyfill for it mdn or github or other source.

[2016-07-26 08:47] ramrami commented on #90
ok thanks , used [this one](https://gist.github.com/hsablonniere/2581101) working great 👍

[2016-07-26 08:47] #90 closed

[2016-07-26 09:32] puranjayjain commented on #90
Great it worked for you :+1:

[2016-07-27 15:47] rachelmad opened #91 "Two dependencies with same name (Draggability and draggability)"
I did an npm install of the latest version (2.2.0) and I get a webpack warning that

./~/draggabilly/draggabilly.js and
./~/Draggabilly/draggabilly.js

have the same name when the case is ignored. I did not have this issue on 2.1.0. Has anyone seen this before?

[2016-07-27 16:28] rachelmad commented on #91
Oops. The error was on my part. I was importing 'draggabilly' instead of 'Draggabilly'

[2016-07-27 16:28] #91 closed

[2016-08-05 21:58] rachelmad opened #99 "IE11 Compatibility"
I'm having an issue implementing the date time picker on IE11.

I have an input area and icons to toggle the dialog. The page loads just fine. However, when you click the icon, I get an `Object doesn't support this action` error. We've debugged it to find that the error occurs when reaching

`onCancel = new CustomEvent('onCancel')`

in this section:

`key: '_attachEventHandlers',
			value: functio

[2016-08-06 05:26] puranjayjain commented on #99
@rachelmad there is a dedicated section for ie in the docs in the last section. You will need to add a polyfill to your code for ie 11 it is mentioned which ones you will need. If it persists please reply here with the issue :)

[2016-08-08 18:12] rachelmad commented on #99
I'm a bit new to this. Any chance you could provide a short example on how that might be done?

[2016-08-09 03:01] puranjayjain commented on #99
As mentioned on the site you have to include two polyfills for ie11.

So just include the scripts for the two polyfills before the md-date-time-picker script like this :

[code]

_Pro tip_: you can also include lte or gte tags and put the polyfills inside them to fetch them only for ie

[2016-08-09 23:05] joeypoon commented on #86
@varghesethomase try something like:

[code]

[2016-08-09 23:28] joeypoon opened #102 "onOk and onCancel events not triggering on IE11"
Basically I'm toggling open a time dialog after the onOk event and it works fine in Chrome but nothing triggers in IE11.

I'm using the CustomEvent polyfill from https://developer.mozilla.org/en-US/docs/Web/API/CustomEvent/CustomEvent.

    input.addEventListener('onOk', () => {
        console.log('I don't trigger in IE11');
    }

For now I've overridden mdDateTimePicker.default.prototype._attac

[2016-08-10 03:25] puranjayjain commented on #102
@joeypoon after adding the polyfill before the code triggers the library must work with the same event handling as done in the demo. It doesn;t that way?

[2016-08-14 19:11] schang933 opened #106 "Support reading project global theme"
This is a simple change and would be really useful for people who are using MDL SASS with a custom color theme.

In _global.scss:
[code]

Change to:
[code]

[2016-08-14 19:14] schang933 commented on #68
+1, also experience this issue on a 480p phone.

[2016-08-15 02:54] puranjayjain commented on #106
Thanks @schang933 can you send a pr it will be merged

[2016-08-15 19:47] niamleeson opened #107 "Update documentation to say Trigger method "mandatory for event callbacks""
`dialog.trigger = document.getElementById('someElement');` must be typed before `document.getElementById('test1').addEventListener('onOk', function() {
              this.value = x.time.toString();
            });`

[2016-08-16 03:50] puranjayjain commented on #107
I will add some sort of note in there. Good suggestion thanks @niamleeson

[2016-08-16 15:36] niamleeson commented on #86
@joeypoon how would you implement onOk event listener to the timedialog that's been triggered by datedialog?

[2016-08-16 17:46] niamleeson opened #109 "Selecting the same minute on Time picker breaks the digital clock"
After selecting the hour, if you click the same minute number that is highlighted with white, the digital clock breaks and says ":0undefined"

[2016-08-17 02:18] puranjayjain commented on #109
@niamleeson what version are you using and what browser?

[2016-08-20 06:14] Xeriou opened #110 "Pick the future days only or not limit"
HI ,

now this project seem to can pick past day only..

can this project pick the future day only??

or not limit for pick.

[2016-08-20 07:14] puranjayjain commented on #110
@Xeriou you can set the future date according to your own need in the configuration.
See https://puranjayjain.github.io/md-date-time-picker/#documentation/future

[2016-08-20 07:44] Xeriou commented on #110
@puranjayjain

OHH!!!!  THANKS....

I just forgot to visit official site :P

[2016-08-20 08:02] #110 closed

[2016-09-05 03:14] rebornishard opened #116 "date format"
# Format for date

i tried toDateString() , toLocaleDateString()
.toString('yyyy-MM-dd') , getDate() , getMonth() , getYear()
none work,

how to make it become mm-dd-yyyy or yyyy-mm-dd ?
thanks

[2016-09-05 03:23] rebornishard commented on #116
close this, my fault, moment js did the job

[2016-09-05 03:23] #116 closed

[2016-09-06 15:48] MorneJooste opened #118 "Cannot get it working"
Good day,

I just downloaded the latest version and I am trying to run demo.html

I cannot get it working. I open the webpage and click on the buttons but nothing happens.

Am I doing something incorrectly or should I be doing it another way?

Thanks

[2016-09-06 19:49] MorneJooste commented on #118
I got it working, was an issue with my IIS.

Thank you very much

[2016-09-06 19:49] #118 closed

[2016-09-11 21:43] rbaumi opened #119 "cannot import Draggabilly because of case sensitive require"
In md-date-time-picker you have a statement:

`import Draggabilly from 'Draggabilly'`

which translates to `require('Draggabilly')`. The problem is that it throws an error:

because the library name should be lowercase. Manually changing to `require('draggabilly')` in dist folder solves the issue.

[2016-09-12 04:52] puranjayjain commented on #119
will fix this issue asap

[2016-09-19 15:17] phota commented on #119
@puranjayjain - I am using your library and getting the same error. Could you please fix this.

[2016-09-20 04:46] puranjayjain commented on #119
Really getting a time constrains these days but i'll try to do it soon

[2016-09-26 08:55] jakobadam commented on #99
I added the polyfills, but still have a small issue in IE11.

In IE11 the dialog is centered, i.e., transform(-50%,-50%), after the dialog is zoomed. So it jumps back to its correct location after the zoom effect.

My quick fix, skip zooming:

[code]

Better solutions?

[2016-09-27 02:53] puranjayjain commented on #99
I guess this is the only solution for that unless there is a polyfill to implement css animations

[2016-10-03 06:47] Jaypeg85 opened #128 "Ability to mark holidays"
It would be nice if you could mark an array of dates (e.g. holidays or weekends) in the date picker. The array of dates should just get a css-class like mddtp-picker__cell-marked or something similar to today and disabled dates.

[2016-10-03 10:55] puranjayjain commented on #128
Great suggestion @Jaypeg85 currently I'm on a bit of a time crunch it would be really helpful if you could send a pr.

[2016-10-05 07:19] jakobadam opened #129 "IE11: Can't click on date"
IE11 bug.

When the page has/or had a scroll-bar it's not possible to click on the dates.
![ie11-date-select-bug](https://cloud.githubusercontent.com/assets/139791/19104312/0c411440-8adc-11e6-8cc2-ebe7299cad6b.png)

On the image attached, in IE Dom Exp., the mouse is placed over a date, but it's the parent which is selected.

Any clues?

kind regards,
Jakob

[2016-10-05 08:18] puranjayjain commented on #129
Have you added all the polyfills mentioned on the docs site for ie11? That might be the issue try that and get back to me if it doesnt. It should resolve this issue.

[2016-10-05 08:46] jakobadam commented on #129
Yes. I've added:
- scrollIntoViewIfNeeded from https://gist.github.com/hsablonniere/2581101#file-index-js
- CustomEvent from https://github.com/krambuhl/custom-event-polyfill/blob/master/custom-event-polyfill.js

[2016-10-05 14:50] puranjayjain commented on #129
I'll look into it, any bugs in console you encounter?

[2016-10-06 05:36] Jaypeg85 commented on #128
I'll look into it

[2016-10-06 06:27] jakobadam commented on #129
Thanks. Nothing in the console.

[2016-10-06 11:29] puranjayjain commented on #129
I see that you are using a translated version of the code in deutsch right?

[2016-10-06 13:51] jakobadam commented on #129
Close... Danish:)

[2016-10-07 21:29] dmott opened #131 "Draggabilly integration doesn't seem to work on mobile devices"
Using the chrome inspector with device emulation turned on, through Safari in the iOS Simulator (Bundled with XCode, on OS X), as well as on various Android and iOS physical devices, dragging the minute hand of the Time Picker, the dragging functionality doesn't seem to work.

This issue is present on the example page when you click "Toggle Time Dialog" at https://puranjayjain.github.io/md-date-ti

[2016-10-09 03:37] puranjayjain commented on #131
Yes i am aware of that issue and there is a need to add more fixes for  mobile devices. I'll start work on it sometime in November (no promises though)

[2016-10-11 10:38] jakobadam commented on #129
Any news on this?

[2016-10-12 04:17] puranjayjain commented on #129
@jakobadam there is a PR on going which does some cleanup and fixes I'm looking into it. It has the possibility of getting this fixed.

[2016-10-14 16:21] asqwrd opened #136 "PM is not maintained in when initial time value is pm on init"
When i initialize the timepicker object with a time in the evening, for example 5:30pm, when i change the hour to 12 i.e. 12:30 and click ok the time comes back as 12:30am instead of 12:30pm

[2016-10-15 04:50] puranjayjain commented on #136
@asqwrd does it maintain am even when reopened or stays as am?

[2016-10-17 03:26] asqwrd commented on #136
If the time is pm then when you open it it maintains pm but as soon as i change the hour to 12 and press ok it switches to am and returns the time value in am

[2016-10-17 07:35] im-n1 commented on #119
Just ran into this. I tried to use whole library in old-school style and include it as script to my HTML. Still gegging strange errors.

[2016-10-17 10:32] puranjayjain commented on #119
I'll change the name to lowercase to fix this problem in the next build. It seems to solve the problem. Thank you for your help @rbaumi

[2016-10-19 05:28] ggomagundan opened #138 "timepicker not support i18n"
I use this js and I live in Korea.

I'm so glad to support i18n.

 And datepicker is working good.

But timepicker occured error when open the dialog.

I tracing this error and find on below line.

https://github.com/puranjayjain/md-date-time-picker/blob/master/dist/js/mdDateTimePicker.js#L466

It always needs return AM or PM. but antother country using their languages.

in Capture images, second

[2016-10-19 07:39] puranjayjain commented on #138
Thanks for informing me of this error. I'll get it fixed or you can send a PR.

[2016-10-19 08:27] ggomagundan commented on #138
I send new PR. But My first javascript PR.

And  I'm so sorry to lack of skills...

[2016-10-20 03:16] alegag commented on #62
This has been implemented in PR #134, it could be closed.

@puranjayjain @db-dblank

[2016-10-20 03:17] alegag commented on #71
Partially implemented (not the "X" on the top right).

@troxler

[2016-10-20 03:17] alegag commented on #89
This has been implemented in PR #134.  It could be closed.

@puranjayjain @jonnnnyw

[2016-10-20 10:29] puranjayjain commented on #89
Thanks @alegag closing it

[2016-10-20 10:29] #89 closed

[2016-10-20 10:30] puranjayjain commented on #62
@alegag pls remind me to add your name to contributors in case I forget and thanks again

[2016-10-20 10:30] #62 closed

[2016-10-23 13:09] alegag opened #141 "Close the calendar by clicking outside"
Would it break the MD guidelines if we were to implement a "close calendar when clicking on the page" ?

What I mean, if I hope the calendar and want to dismiss it, by clicking anywhere else on the page (but the calendar), it would close it.

Maybe we should activate that option only when "autoClose=true".

@puranjayjain Let me know what you think !

[2016-10-23 14:02] puranjayjain commented on #141
I think it's a good option and does not violate md guidelines. We should implement it

[2016-10-23 21:29] alegag commented on #141
@puranjayjain It has been added now, in the PR.

[2016-10-23 21:29] #141 closed

[2016-10-24 23:43] yanashumilova opened #143 "12 AM/PM mix"
Hi! thanks for an awesome date-time picker. It's just what I was looking for and it took just 5 minutes to integrate it in my MDL-React website.

However, I noticed there is an inconsistent behaviour in the time picker when in 12-hour mode and selecting time like 12:15AM:
1. say the initial time is set to 9:30AM
2. click on 12 when selecting hour - time changes to 12:30AM
3. click on 15 when selec

[2016-10-25 12:45] puranjayjain commented on #143
Great work i'll integrate it

[2016-10-26 06:09] jakobadam commented on #129
Could you link to it? Thanks.

[2016-10-26 11:48] snapcount commented on #129
+1

[2016-10-27 06:11] puranjayjain commented on #129
Refer pr #140 and other PRs by @alegag for the same.

[2016-10-27 13:28] jakobadam commented on #129
Sorry. I still can't figure out wheter this is work in progress or not. Could be more precise. Thanks.

[2016-10-27 14:54] puranjayjain commented on #129
It's a work in progress @jakobadam, I am reviewing it and fixing stuff in that PR so that it can be resolved asap.

[2016-10-28 05:41] jakobadam commented on #129
Thanks for the clarification.

[2016-11-06 11:16] mh-cbon opened #151 "Add support for 'mdl-componentupgraded' event"
Hi!

Awesome component!

What do you think about supporting this event `mdl-componentupgraded` ?

With mdl snackbar component i do stuff like this :

[code]

Doing so i don t need to :
- rely on document.ready event
- i m safe do apply some logic when the component is really ready (document.ready is not safe)
- i don't need to put my owns scripts after the lib script (as described in https://puran

[2016-11-06 11:30] #151 closed

[2016-11-09 02:02] tdfairbrother opened #152 "how do you get the selected date from the onOk event? Docs are wrong."
In your documentation, it has the following example for handling the ok event. In the example below, I can't see where x comes from.

[code]

I have looked through the code and it uses a custom event but the custom event doesn't have any type of date/value payload.

[code]

How do you get the selected date from the onOk event?

[2016-11-09 02:08] tdfairbrother commented on #152
I have been searching for ages but only found the answer when I posted above. I didn't see the section `You can get or set the current time of the dialog.`

`var time = dialog.time;`

Seems weird that you have to go back to the date picker instance to get the selected value. Also the docs are still confusing in referencing `x`

[2016-11-09 02:10] puranjayjain commented on #152
Seems to be a docs issue shall fix it. But x is the time picker's instance.

[2016-11-09 02:35] tdfairbrother commented on #152
I guessed that but it is not clear.
x is not assigned anywhere in your docs.

[2016-11-09 03:48] puranjayjain commented on #152
@tdfairbrother will fix that in the docs

[2016-11-10 13:34] mh-cbon commented on #37
I have a commit for that matter. It makes handle content configurable so you could put material icon markups and adjust their styles with a bit of css.

See https://github.com/mh-cbon/md-date-time-picker/commit/72b343c0f6434c277d6d4e756fc396bb994fb062

If that looks fine, i can make a pr.

[2016-11-11 04:43] puranjayjain commented on #37
Go ahead start a PR

[2016-11-22 20:18] pchristou opened #162 "Adding support for selecting date by keyboard?"
As per subject, when opening the datepicker, is there a way to select the date by using the keyboard arrow keys and <Enter>?

[2016-11-23 07:27] puranjayjain commented on #162
Sorry not right now, there is currently no support for it.

[2016-11-25 14:15] #37 closed

[2016-11-25 14:16] puranjayjain commented on #69
keeping it open until a solution could be found

[2016-11-25 14:18] puranjayjain commented on #109
closing it due to in-adequate response. feel free to post updates on this, it shall be reopened

[2016-11-25 14:18] #109 closed

[2016-11-25 14:33] mh-cbon commented on #61
Hi!

I d like to suggest this stack,

https://saucelabs.com/beta/signup/OSS/None
https://docs.travis-ci.com/user/gui-and-headless-browsers/
http://webdriver.io/

I m not sure how the tests should be made, which framework (mocha karma ava whatever-name-you-want-you-name-it-you-got-it), at least i d like to get screenshot review over all browsers for a given change.

[2016-12-11 11:47] DenysVuika commented on #52
Could you please provide a clear example on using with code splitting and webpack? Tried numerous approaches and **md-date-time-picker** just does not work.

**vendors.ts**
css seems to be working:
[code]

not working
[code]

Thanks in advance

[2016-12-11 12:57] puranjayjain commented on #52
Hmm seems to be an issue

[2016-12-21 13:01] SabineMa opened #176 "show date/time pickers modal"
Hi,
thank you for your awesome date/time pickers.
One question: how can I show them modal?
(Editing all "behind" the picker not possible, only ok and cancel possible...)
I did not find anything about it in the docs.
Regards
Sabine

[2016-12-21 14:08] puranjayjain commented on #176
You're welcome 😄
"how can I show them modal?" I quite didn't get this? What do you mean by them modal? 😕
Please elaborate or give an example.

[2016-12-22 09:59] SabineMa commented on #176
Sure.
After calling the date or time dialog, I want that all which is behind the  date or time dialog can not be edited. Please see the screenshot below. I opened the dialog but it is possible to write in the time entry field. It would be also possible to click in the other date and time fields and to open several dialogs.

![bildschirmfoto 2016-12-22 um 10 54 05](https://cloud.githubusercontent.c

[2016-12-22 10:00] SabineMa commented on #176
sorry for closing, wrong button :-)

[2016-12-22 10:09] SabineMa commented on #37
is it possible now to use icons from the mdl icons set instead of the < and > symbols?
I did not found that in the documentation.

[2016-12-22 10:13] puranjayjain commented on #176
Ok, so you want the picker to behave like a modal window, which closes on outside click or prevents clicks outside. That feature was in works in  #140. Not tested it though but I believe it should work.

[2016-12-22 10:17] puranjayjain commented on #37
Well, you could use them instead of < and > but not via any options. For that, you would have to edit the source files see https://github.com/puranjayjain/md-date-time-picker/blob/master/src/js/mdDateTimePicker.js#L51. Just replace them with your icon font definition e.g <i class="icon-map"></i>

[2016-12-22 11:51] SabineMa commented on #176
Thanks. I don't want it to close when the user clicks outside. But I think I will manage it by putting a modal div in it when opening and removing the div when selecting or cancel.

[2016-12-22 11:51] #176 closed

[2016-12-22 12:06] SabineMa commented on #37
it was also possible via options thanks for the hint in the source file, that helped to find the parameter names. Would be nice to have that in the documentation:
prevHandle:'<i class="material-icons">keyboard_arrow_left</i>',nextHandle:'<i class="material-icons">keyboard_arrow_right</i>'
![bildschirmfoto 2016-12-22 um 13 05 03](https://cloud.githubusercontent.com/assets/13763544/21425093/4f4be42e

[2016-12-22 16:35] puranjayjain commented on #37
I just sifted through the entire PR #141 I found it was also an option to change the next and previous button, I'll add that to the docs once that one gets merged

[2016-12-25 10:55] arabsight commented on #119
awesome component, can we expect this to be fixed (since its just one letter change). can't use with aurelia-cli (uses amd).

[2016-12-25 11:30] puranjayjain commented on #119
I'm currently on a vacation so it won't probably be until next year. But I expect it will be resolved by next year 😄

[2016-12-25 12:20] arabsight commented on #119
cool, thanks

[2017-01-16 06:49] codingfriend1 opened #181 "UX Timeline Delay switch and don't autoswitch from minute back to hour"
From a UX standpoint when I'm in the hour view and I click an hour I expect to see the needle jump to that position before switching to the minute view. Also I find it unintuitive that the minute view would jump back to the hour view when finished automatically. Otherwise it feels like it's selecting a time I didn't choose because you don't realize it's switched back to hour. If a user wants to go

[2017-01-16 13:03] puranjayjain commented on #181
@codingfriend1 what you say is correct but I chose to go with the UX mentioned in material design specification where the sample video shows the exact same behavior and hence that.

[2017-01-17 05:43] vincentsmh opened #183 "On top of any dialog"
# On top of any dialog

I have `showModal()` a dialog and in this dialog I have a button trigger `toggle()` datetimepicker. However, the mdDateTimePicker did not be shown on top of the dialog. (It is randomly shown on top of bottom to the dialog).

How to always show the mdDateTimePicker on top of any other dialog?

[2017-01-17 06:13] puranjayjain commented on #183
Can you add screenshots to support your answer? It would make it more clear

[2017-01-17 14:22] vincentsmh commented on #183
Here is HTML:

    <html>
    <head>
      <link rel="stylesheet" href="css/material.cyan-light_blue.min.css">
      <link rel="stylesheet" href="css/mdDateTimePicker.min.css">
      <script src="js/jquery-3.1.1.min.js"></script>
      <script src="js/material.min.js"></script>
      <script src="js/moment.min.js"></script>
      <script src="js/mdDateTimePicker.min.js"></script>
      <script src

[2017-01-17 14:38] puranjayjain commented on #183
I'll take a look into it.

[2017-02-06 23:18] qpoon commented on #69
This seems to be a race condition. Reducing the timeout to 150 ms (i.e. not waiting until the month has finished its animation out of the dialog) prevents the issue. Really, `setTimeout` probably isn't a very robust way to handle these things.

[2017-02-07 02:21] puranjayjain commented on #69
@qpoon I know but when I first started the development I was a front end noob 😝 and didnt know much js so this was the solution that came to my mind

[2017-02-10 11:10] Codebreaker101 opened #196 "Draggabilly not optional"
It's mentioned [HERE](https://github.com/puranjayjain/md-date-time-picker#draggabilly) that the Draggabilly is an optional dependency, but when not including it javascript returns an error `_Draggabilly2.default is not a constructor`  and the window doesn't open.

As far as I'm aware there is no flag to set to disable or enable the usage of Draggabilly

[2017-02-14 15:14] DenysVuika commented on #52
Any updates on the issue?

[2017-02-15 02:39] puranjayjain commented on #52
Cant say yet will try my best to release it asap.

[2017-02-21 10:49] Grasher134 opened #201 "onOk event doesn't fire on input field"
I tried to add both click and onOk events to <input> field. Click works fine, I see a popup, though it is kinda blurry. But when I hit ok - nothing happens.

[code]

[2017-03-12 22:51] MelleB commented on #152
@puranjayjain Thanks a lot for your lib!

Maybe this helps somebody, or maybe it's a useful addition to the docs:

	function registerDateTimePicker(elementId, picker, fmt) {
		let element = document.getElementById(elementId);
		element.addEventListener('click', function(e) {
			picker.trigger = element;
			picker.toggle();
		});
		element.addEventListener('onOk', function(e) {
			// Maybe mention

[2017-03-12 22:55] MelleB commented on #201
I think you need to add

    dialog.trigger = document.getElementById('date-format');

[2017-03-13 08:05] digitalkaoz commented on #201
@MelleB is right, you have to add the trigger first, either

[code]

or

[code]

[2017-03-26 09:01] #201 closed

[2017-04-21 09:43] arispati opened #209 "Arrow animation is not in the real place"
Hi,

Arrow animation is not in the real place when inner24 option set to true, how to fix it?
![screenshot_62](https://cloud.githubusercontent.com/assets/13604647/25272351/a762ac74-26b1-11e7-85d1-de132cd833ed.png)

[2017-05-02 13:11] rupe120 commented on #183
Any update or work around? I'm developing an application and need a date picker to be triggered from a dialog. We're investigating not using the standard mdl dialog so that we can still use the date picker, but I'm interested to hear your thoughts on how this is coming or if there's a non-official tweak of the date time picker control to allow it to be called from within a dialog.

[2017-05-02 14:27] puranjayjain commented on #183
The workaround would be to override the zindex of the datepicker.
Also look into the position property and set it accordingly.

[2017-05-02 17:21] rupe120 commented on #183
Have you tried testing this scenario in Chrome? Firefox and Chrome are currently behaving differently. Firefox is using the polyfill and the date picker works just fine, while Chrome has native support for the dialog tag. It appears as though the native dialog in Chrome is displayed over top any and all HTML on the page, no matter the z-index of the non-dialog items on the page. I tried giving the

[2017-05-03 07:16] puranjayjain commented on #183
This issue seems to stem from the fact that the dialog is attached to the dom at the end of body with a high z index and position fixed. You could override the dialog's scss and build your own custom version or just override your css with the dialog's values. I myself have never tested it as I didn't encounter this particular use case.

[2017-05-03 12:35] rupe120 commented on #183
I've tried playing around with the order of the items in the DOM and calling dialog windows from within dialog windows (not using the date picker) and the order doesn't matter. It really seems to be something either having to do with the dynamic adding of controls or the way the styles are processed for the content of the dialog. I updated the date picker to use a dialog tag and the mdl-dialog cla

[2017-05-04 17:59] rupe120 commented on #183
I found a solution. The container is now a dialog element with an mdl-dialog class. I run the container through `componentHandler.upgradeElement(container)` and `dialogPolyfill.registerDialog(container)`. On show I'm calling `this._sDialog.picker.showModal();` and on hide `me._sDialog.picker.close();` I actually had this logic mainly correct when I posted my last comment, but I was calling `.show(

[2017-05-05 04:14] puranjayjain commented on #183
go ahead make a PR, I'll see what I can do. :)

[2017-05-12 12:38] tytskyi commented on #119
npm version is behind others, npm still contains code with `Draggabilly` string

[2017-05-12 18:59] puranjayjain commented on #119
thanks @tytskyi bumped to v2.3.0 on npm

[2017-05-15 09:23] tytskyi commented on #119
@puranjayjain thank you, this now works as expected. I think issue is resolved.
cc @rbaumi

[2017-05-15 09:26] #119 closed

[2017-05-27 18:00] illright commented on #196
I can't even run the demo on Firefox Ubuntu. The `draggabilly` JS file seems to be included, but the clock popup doesn't appear. Everything's fine with the date, though

[2017-05-27 18:18] puranjayjain commented on #196
This has been fixed in the latest release. Please reopen this issue or open another if it appears along with a demo link.

[2017-05-27 18:18] #196 closed

[2017-05-27 18:18] puranjayjain commented on #131
This has been fixed in the latest release. Please reopen this issue or open another if it appears along with a demo link.

[2017-05-27 18:18] #131 closed

[2017-05-27 18:23] puranjayjain commented on #69
There are two solutions that have come to my mind for that:
1. adding cancel timeouts to prevent the propogation of previous timeouts and setting timeout to 150ms
2. detecting animation end and then doing stuff and canceling if a new one comes.

[2017-05-31 06:52] stefandewaard opened #210 "Step in minutes"
Is it possible to get steps in minutes? Because I want that the user only can select quarters.

[2017-05-31 07:07] puranjayjain commented on #210
@stefandewaard unfortunately not directly but you can write an override your own draggabillly logic on top to do just that. and disable the pickers own method.

[2017-06-13 10:56] i42pavar opened #211 "Always visible"
Could i make it always visible inside a div?

[2017-06-13 16:46] puranjayjain commented on #211
If you mean persistently visible so no. As this is a dialog and its intention is to overlap the rest of the page and open temporarily. But you could tweak it to your needs if you dive into the build and make your customizations.

[2017-06-14 17:08] #211 closed

[2017-07-05 11:22] rfontanella opened #212 "Draggabilly not optional again"
It's mentioned  [HERE](https://github.com/puranjayjain/md-date-time-picker) that the Draggabilly is an optional dependency, but when not including it javascript returns an error _Draggabilly2.default is not a constructor and the window doesn't open.

As far as I'm aware there is no flag to set to disable or enable the usage of Draggabilly

This is a copy of the old #196 issue, bu the problem come

[2017-07-05 11:24] puranjayjain commented on #212
@digitalkaoz we had this problem fixed in a PR right?
I will need to recheck it.
Also removing the optional message from docs until we can figure out how to actually make it optional.

[2017-07-05 11:26] #181 closed

[2017-07-05 11:34] rfontanella commented on #212
@puranjayjain and @digitalkaoz
If it helps, commenting line 505 ( this._dragDial(); ) solve the problem and keep the plugin working.
You probably just need a boolean setting to allow/disallow draggability!

[2017-07-05 11:46] puranjayjain commented on #212
@rfontanella we could actually make a guard condition to make it work. Great suggestion btw.

[2017-07-08 06:21] redimongo opened #213 "user birthday date theme"
first i like the plugin, but how do I get the template to show a scrollable date, month and year options. or even something like this

https://puranjayjain.github.io/md-date-time-picker/images/components_pickers_date1.png

but needs to when user selects month & date it goes to next step which is year.

[2017-07-08 08:05] puranjayjain commented on #213
@redimongo I didnt understand what you are trying to say

[2017-07-09 08:11] fancyDevelopment opened #214 "Bugs with Draggabilly"
I think I found two bugs regarding the usage of the draggabilly library:

1. If I add the draggabilly library to my project it throws an error in the browser console. As far as I invesitaged this issue it is caused by a compilation or typing issue. The problem ist line number 10 in the mdDateTimePicker.js file (located in dist/js). There the factory is called with global.draggabilly but insead it

[2017-07-09 08:42] puranjayjain commented on #214
@fancyDevelopment this seems to be an ongoing problem which was addressed in multiple bug fixes. I will investigate further on this. The problem seems to stem from the draggability library and its bundling.

I would also require more information on how you are using the project i.e. how you import, any bundlers etc.

[2017-07-10 13:13] danielmurrmann commented on #214
Basically I am using Fabricator to build up a ui toolkit for my project. Within the fabricator template I use gulp to concat all used libraries and my own JavaScript code. The following Code snippet shows my gulp task for this. I am using the standard gulp plugins for this:
[code]
In the gulp task _config.src.scripts.vendor_ is the path to the node_modules folder. The path to the date time picker

[2017-07-11 12:53] papasax commented on #69
@puranjayjain. Did you experiment those solutions? Are you planning to fix this bug?

[2017-07-11 13:28] puranjayjain commented on #69
@papasax I am currently heavily invested in a project and so cannot take up this task at the moment. Meanwhile, a PR is welcome as always.

[2017-07-12 13:56] puranjayjain opened #215 "Next major version"
# Next major step
There are loads of problems with the current version
* Bigger download footprint (where not all of the features are not used by all users)
* Loads of bugs and confusion in the current implementation
* Introduction of material web components (far more promising than mdl)

# Solution
I personally prefer to write a new version using the material components as the baseline e.g using

[2017-07-12 15:06] wngasinur opened #216 "issue using 'time' picker in angular 2.4"
I'm getting following error when toggling 'time' picker in Angular 2.4 project.

This is how I toggle 'time' picker.

[code]

Strangely for 'date' picker is working fine.

[2017-07-12 15:46] puranjayjain commented on #216
Can you give more information like bundler (if any).
working example if any ?
Live demo for the bug ?

[2017-07-13 01:24] #216 closed

[2017-07-13 01:26] wngasinur commented on #216
Seems it's issue with draggabilly bundle with webpack. it's duplicated with #214,  hence closing the issue.

[2017-07-17 18:17] redbmk commented on #215
If this is going to have a dependency on material web components it might be nice to try making it an official component.

[2017-07-18 13:43] hamzahamidi opened #217 "How to import this to angular ?"
# Issue Templates

- Search the currently opened issues and past issues before posting a new one.
- Escalate issues by making a reaction of :+1: at the first comment on the issue (the issue author's)
- Be clear and try to open an issue with one problem at a time (open multiple issues if you have multiple problems)

[2017-07-18 13:55] hamzahamidi commented on #217
And  where the hell is mdDateTimePicker.css located ?

[2017-07-19 05:01] puranjayjain commented on #215
@redbmk I also want that but getting a component through would be far more time consuming and even if we push for it from now we may or may not see it live in 6 or more months. I rather see this live than get work hours wasted

[2017-07-19 05:02] puranjayjain commented on #217
@hamzahamidi its in `dist/css` folder . If this was the issue I'm closing it feel free to reopen or open another one in the future for problems. Thank you!

[2017-07-19 05:21] westy92 commented on #215
I agree with @redbmk that we should build this as a Material Design Web component.  Here's the relevant issues:

https://github.com/material-components/material-components-web/issues/55
https://github.com/material-components/material-components-web/issues/54

[2017-07-19 08:53] hamzahamidi commented on #217
What's the event triggered when a valid date or time is selected successfully?

[2017-07-19 09:00] puranjayjain commented on #217
Please refer to the documentation for that
https://puranjayjain.github.io/md-date-time-picker/#documentation/onOk

[2017-07-19 12:35] hamzahamidi commented on #217
When I click double time on the clock component It shows 0Undefined. What is the variable you add to minutes that shows undefined ? Is the 0 reset necessary in your code ? Im trying to use this plugin in a hybride mobile application and this error is frequent.

[2017-07-19 12:57] puranjayjain commented on #217
I didn't get you here

[2017-07-19 13:07] hamzahamidi commented on #217
![capture](https://user-images.githubusercontent.com/22576950/28368200-d6bc6140-6c93-11e7-88ec-74c1bce73216.PNG)
When you click multiple times on minuteView you obtain this error its frequent on mobile

[2017-07-19 13:38] puranjayjain commented on #217
@hamzahamidi can you repost the above in a separate issue? It will make it easier to track it. This seems to be another race condition

[2017-07-19 13:38] #217 closed

[2017-07-19 13:47] hamzahamidi commented on #217
Race condition indeed

[2017-07-19 19:07] redbmk commented on #215
Maybe the first push could be to get it live using material web components as a dependency, then afterwards submit it as a PR to the official team

[2017-07-20 05:02] puranjayjain commented on #215
this would be a better approach

[2017-08-04 18:34] amanshu-kataria opened #218 "Need help to use it with Polymer 2."
I want to use it in my Polymer 2 application. Do you have any idea how to use it with Polymer 2?

There's no time-picker available in [web-components](https://www.webcomponents.org/). If you could create the same for web-components, it would be really very useful to many developers.

[2017-08-05 05:08] puranjayjain commented on #218
@amanshu-kataria aren't these good? or are they not compatible with polymer 2
https://www.webcomponents.org/element/bendavis78/paper-date-picker
https://www.webcomponents.org/element/vaadin/vaadin-date-picker

[2017-08-05 05:14] amanshu-kataria commented on #218
@puranjayjain [paper-date-picker](https://www.webcomponents.org/element/bendavis78/paper-date-picker) is not compatible with Polymer 2.
And [Vaadin-date-picker](https://www.webcomponents.org/element/vaadin/vaadin-date-picker) is not a time picker.

[2017-08-05 05:17] amanshu-kataria commented on #218
@puranjayjain these are the date pickers not time pickers.
[paper-time-picker](https://github.com/bendavis78/paper-time-picker) is not compatible with Polymer 2.

[2017-08-05 05:57] puranjayjain commented on #218
oh that's a problem, I currently don't have any plans to make a time picker I'll update here if I do.

[2017-08-14 12:08] kgrosvenor opened #219 "Feature Request, disable open animation, or animation scale from click"
# Issue Templates

- Search the currently opened issues and past issues before posting a new one.
- Escalate issues by making a reaction of :+1: at the first comment on the issue (the issue author's)
- Be clear and try to open an issue with one problem at a time (open multiple issues if you have multiple problems)

[2017-08-15 03:29] puranjayjain commented on #219
@kgrosvenor you would have to make a custom build, for now.

[2017-08-15 10:31] kgrosvenor commented on #219
Okay buddy, so do i just clone this whole repo and npm run dev?

[2017-08-15 14:32] puranjayjain commented on #219
you should probably fork then clone the repo and use the gulp scripts for their various tasks. You will find them in the `gulp` folder :)

[2017-08-21 15:58] Leanvitale opened #220 "Disabled weekends"
Hello, I need to make the weekend not selectable in the calendar, can that be done?
Thanks

[2017-08-25 19:13] mac4manu opened #221 "Getting "0undefined" when I click on minutes"
# Issue Templates
I am getting below issue, when I click on "00" (minutes) after choosing hours. Could you please suggest

<img width="394" alt="screen shot 2017-08-25 at 12 06 18 pm" src="https://user-images.githubusercontent.com/14212093/29728716-f9a07b44-898d-11e7-946a-5c2a335c1bf6.png">

[2017-08-26 05:12] puranjayjain commented on #221
Can you please elaborate your configuration, device, etc.

[2017-08-26 05:13] puranjayjain commented on #220
Sorry for a delayed response but you cannot currently do that via a configuration. You need to make a custom build of the project for that.

[2017-08-26 18:31] mac4manu commented on #221
I'm using desktop. I did as following -
new mdDateTimePicker.default({
            type: 'time',
            init: moment('06:00 AM', 'hh:mm A'),
            orientation: 'PORTRAIT'
        });
The issue is happening only if you click on "00" minutes. I have attached the screen recording.

![timepicker-issue](https://user-images.githubusercontent.com/14212093/29744087-27a3d08a-8a52-11e7-835f-7bcaa

[2017-08-27 06:03] puranjayjain commented on #221
This seems to be a major bug need to further investigate. @mac4manu I'll get back to you on this

[2017-08-28 19:17] mac4manu commented on #221
@puranjayjain
I have seen one more issue.
When I choose "12:00" (default is "am" in the control), so I didn't change that. But when I click "ok"
it sets as 12:00 PM in the UI

[2017-08-29 05:26] puranjayjain commented on #221
@mac4manu to be clear, the next time you open the picker again and the value was `12:00 PM` `or it was `12 AM` ?

[2017-08-30 20:21] arunicus opened #222 "currently the widget is always opening on a modal, is it possible to open in a custom location in a different div?"
currently the widget is always opening on a modal, is it possible to open in a custom location in a different div?

[2017-08-30 22:09] mac4manu commented on #221
@puranjayjain Value in the picker changed to 12:00 PM as well when I reopened

[2017-08-31 05:03] puranjayjain commented on #222
Not through configuration. Since it was always the intention of the project to open in a modal similar to material design specification for the picker. However, if you want you can start your own fork with the widget opening in a custom location. I am closing this issue, as I feel this should answer your question. You can reopen or open another one if you have more questions.

[2017-08-31 05:03] #222 closed

[2017-09-01 04:40] puranjayjain commented on #221
@mac4manu This seems to be a bug let me investigate further on this. I'll get back to you on this one.

[2017-09-05 05:37] mac4manu commented on #221
@puranjayjain

[2017-09-05 05:40] mac4manu commented on #221
@puranjayjain - Please let me know if you have workaround for this issue.
"Value in the picker changed to 12:00 PM as well when I reopened"

[2017-09-05 06:07] puranjayjain commented on #221
@mac4manu will let you know about that as well

[2017-09-06 07:50] saha-kpghoshal commented on #212
@puranjayjain As of the latest code the bug exists. moreover the code refers Draggabilly as 'draggabilly' but in the file draggabilly.pkgd.js, it is exported as Draggabilly. hence its never found in the script even if Draggabilly is included in the page. it results in a '_draggabilly2.default is not a constructor' error.

[2017-09-13 10:18] XcrossD opened #223 "Only allow "sharp" times to be selected"
Is it possible to set the time picker to allow only "sharp" times to be picked by the user? For example, 1 sharp, 2 sharp, 3 sharp...etc. I don't mind modifying the code and possibly creating a PR, but I would appreciate some hints on where or how I should implement this. Thanks in advance.

[2017-09-13 15:03] puranjayjain commented on #223
@XcrossD your initial thought process is spot on yes you would have to make a custom build.

You can start off here
https://github.com/puranjayjain/md-date-time-picker/blob/master/src/js/mdDateTimePicker.js#L503

take a look at `_initMinute` and `_initHour` that would be the ideal place to setup that logic along with `_initTimeDialog`

[2017-09-14 06:56] XcrossD commented on #223
@puranjayjain Got it up and working, thanks! I wonder whether this is worth creating a PR. This feature is very specific IMO. What are your thoughts on this?

[2017-09-14 07:03] puranjayjain commented on #223
You can create an official fork of the project and put a PR for the readme linking it. With a description of what it solves it might help future users looking for that specific problem :smile:

[2017-09-14 07:03] #223 closed

[2017-09-15 02:05] XcrossD commented on #223
I'm not sure if this way of doing things is what you mentioned. Feel free to edit.

[2017-09-25 21:52] mac4manu commented on #221
@puranjayjain Any update on this? please let me know

[2017-09-26 04:51] puranjayjain commented on #221
@mac4manu Will hunt and attempt a fix this weekend was busy with work lately

[2017-09-26 15:18] fmntf commented on #214
Hi. I've got the same issue, draggabilly does not work if autoClose is enabled.
Is this still a work in progress? Thank you!

[2017-10-02 10:31] biju001 opened #225 "time picker not fired in demo too"
i just downloaded full zip and open demo.html. time picker not work. not even fired. i tried newly even fresh html file
[code]

this way also not work. can you check please.

[2017-10-02 12:04] puranjayjain commented on #225
Did you download all the necessary dependencies with it?

[2017-10-02 12:18] biju001 commented on #225
yes i download full package `md-date-time-picker-master.zip` from there i took js and css from **dist** folder. even your demo.html time picker not work. if you check then you can understand.

if i press **default** from **time dialog** it is not fired. and consol show error
[code]

[2017-10-02 12:32] biju001 opened #226 "inline mode (without dialog)"
hello,
i want to show this time/date picker always on body meaning i don't want to press anything for dialog, just be there always. possible ?   please help us.

[2017-10-19 18:00] AkhilaErrabelly commented on #116
I'm having the same issue. Can you please share how format for date worked? @rebornishard

[2017-10-23 14:15] philipfeldmann commented on #221
Is there any known quickfix or patch in the making? Unfortunately this is a major bug for our application right now.

[2017-10-27 00:16] mac4manu commented on #221
@puranjayjain -
any updates????

[2017-10-27 10:32] SabineMa commented on #221
I also have this problem and would be happy for a fix

[2017-11-29 14:04] Techniv opened #229 "Impossible to use theme from the library"
It's impossible to import material theme from the directly dist/css/themes folder.
I correctly read the documentation that say I need to replace the dist/css/mdDateTimePicker.css with the choosen css theme file.

**This is definitively unacceptable in an industrial context.**

Libraries are imported in projects from dependency managers. Modify the content of a library to change a theme is not a va

[2017-12-08 16:31] EVHaste commented on #221
Good morning, @puranjayjain !
Sorry to bother, was just wondering if there was any movement on this one.

[2017-12-21 04:37] sohailrajdev97 opened #230 "Disable specific time in time picker"
There needs to be a feature to disable a specific time in the time picker dialog (Like the one in the date picker dialog where one can choose a starting date and all the dates before that chosen date are disabled).

[2017-12-21 23:48] shaunc869 opened #231 "Make hour draggable"
Thanks for making such an awesome lib, I had a small question, is it possible to make the hour draggable like it is in this example:

http://www.material-ui.com/#/components/time-picker

Thanks for all the awesome work!

[2018-01-15 14:12] gkimpson opened #233 "Make the draggable element 'touch' element larger but the actual visual red circle the same size?"
I have got the md-date-time-picker implemented into an Angular 1.x app and it works brilliantly! I would like to be able to make a small modification so that the area in which the user drags the hour/minutes circle around the clock is bigger but the actual red circle that user can see on the screen remains the existing size?

Is there any easy way to do this using the draggabilly library?

[2018-01-16 01:52] puranjayjain commented on #233
You should look into overriding the drag element's style. Try to look into the css in our codebase for a starting point

[2018-01-16 01:53] #209 closed

[2018-01-19 10:46] IlCallo opened #234 "CSP inline style conflict"
When using a meaningful CSP (one which do not allow `unsafe-inline`), there are conflicts with this package.
This is done by the fact that some properties are setted and removed via `element.setAttribute('style', 'property: value')` instead of traversing them via DOM with `element.style.property = 'value'`.

There are 9 occurrencies of this behaviour, in 3 kinds.
_**elem** here is a placeholder fo

[2018-01-19 21:18] aleek commented on #226
No problem dude!

The only thing you need to do is to modify the scss - .mddtp-picker class in particular.
Remove:
` position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
  transform-origin: 0 0;`

It should be inline now :)
And of course remove the mddtp-picker--inactive class from the div.

[2018-01-20 04:47] puranjayjain commented on #234
I myself have little to no knowledge of csp (at the moment) you might have to look around how other libraries handle it. You could also raise a PR here if you find a possible solution. 👍

[2018-01-20 15:15] IlCallo commented on #234
Well, the possible solution is the one I written up there 🤔
The basic rule of CSP is "avoid eval and inline scripts and styles whenever is possible".
This package use no `eval()` nor inline scripts, the only problem is the inline style written with `setAttribute('style','things')`.

I'll apply the fixes and send a PR.

[2018-01-21 03:17] puranjayjain commented on #234
That'll be great 😄

[2018-01-21 06:58] #234 closed

[2018-01-22 13:51] macx commented on #212
@puranjayjain This bug is still present. I could not init any time dial. But according to the tip of @rfontanella by removing `this_dragDial()` I could it make work. Please take your time and fix it!

[2018-01-22 14:10] macx commented on #212
Investigated this issue using the demo which comes with this gulp build: The time picker is not working. Commenting this line it will bring the demo back to life: https://github.com/puranjayjain/md-date-time-picker/blob/master/src/js/mdDateTimePicker.js#L13

[2018-01-23 11:48] El-Devoper opened #236 "Year selection not showing up on second click in IE 11"
The first time you click on the year the list is shown. If you click a second time or on a second dialog i.e. a from and until date selection, the list visually disappears. You can still click and a year is selected but it's a shot in the dark. The polyfills "CustomEvent" and "scrollIntoViewIfNeeded" are included. No console error is thrown.

![iexplore_20180123_114759w](https://user-images.github

[2018-03-19 07:17] jagadeeshagm commented on #16
This date picker is not working in IE 8 to 11. Can someone suggest the solution for this

https://puranjayjain.github.io/md-date-time-picker/

[2018-03-28 10:24] saachinbedi opened #237 "Can we open date and time without dialog box?"
Hi,

I am using this control on my web application. I want to open date and time without dialog box.
Can we do that?
Also I want to open picker below the text box.
example url : http://caretest.eziwaycare.com.au/ASPX/CMS/TestCMSPage.aspx

Could you please help me.

[2018-03-31 12:01] puranjayjain commented on #237
You can but you will have to tinker with the build files and make your own custom build. See the docs and the readme for more information on how to do that.

[2018-04-04 16:23] yoyodat commented on #236
had the same issue, I fixed this by adding `years.classList.remove('zoomOut');` at mdDateTimePicker.js:864
``
...
if (mdDateTimePicker.dialog.view) {
viewHolder.classList.add('zoomOut');
years.classList.remove('mddtp-picker__years--invisible');
years.classList.remove('zoomOut');
years.classList.add('zoomIn');
// scroll into the view
currentYear.scrollIntoViewIfNeeded && currentYear.scrollIntoViewI

[2018-04-09 10:33] LPProfit opened #239 "Date picker has subtitle active when re-opened"
This causes the incorrect section to be highlighted (see images below). This is a result of these two lines which are run on the dialog being hidden. I fixed it myself by swapping round the actions. Not too sure about creating pull requests etc. so I thought it was best to put this here. Thanks :)
https://github.com/puranjayjain/md-date-time-picker/blob/29f967dd8aaf97bdf2f054742a219f434960237a/src

[2018-04-23 13:44] slevy85 commented on #212
The time picker works when I use with draggabilly 2.2.0

[2018-05-02 20:49] Arunaki commented on #183
How to enable the future dates, default future dates are disabled.
Thanks in Advance..
![image](https://user-images.githubusercontent.com/38925432/39548411-27b80c2c-4e78-11e8-9917-1645c5a72e7e.png)

[2018-05-02 20:51] Arunaki opened #240 "How to enable the future dates?, Default the future dates are disabled."
# Issue Templates

- Search the currently opened issues and past issues before posting a new one.
- Escalate issues by making a reaction of :+1: at the first comment on the issue (the issue author's)
- Be clear and try to open an issue with one problem at a time (open multiple issues if you have multiple problems)

[2018-05-02 21:08] Arunaki commented on #240
![image](https://user-images.githubusercontent.com/38925432/39548411-27b80c2c-4e78-11e8-9917-1645c5a72e7e.png)
Thanks in Advance..

[2018-05-03 21:18] Arunaki commented on #240
Got It... :)

future: moment().add(1, 'years')

[2018-05-03 21:18] #240 closed

[2018-05-09 08:29] TheCreeperCow opened #241 "Cannot read property 'weekdaysMin' of undefined"
After making a new mdDateTimePicker object i receive this error from the console my <script> tags are as follow
`  <script src="bower_components/md-date-time-picker/dist/js/mdDateTimePicker.js"></script>
  <script src="bower_components/md-date-time-picker/dist/js/moment.min.js"></script>`
It appears this is a problem with the dependencies.

[2018-05-21 08:32] #241 closed

[2018-05-21 22:19] Arunaki opened #242 "Got New issue, Date picking(value) is fine but i cant save the value. Got Error message like this.."
# Issue Templates

- Search the currently opened issues and past issues before posting a new one.
- Escalate issues by making a reaction of :+1: at the first comment on the issue (the issue author's)
- Be clear and try to open an issue with one problem at a time (open multiple issues if you have multiple problems)

[2018-05-21 22:22] Arunaki commented on #242
I am using MdDateTime picker in my sharepoint site, I am not getting any error message in Chrome and Firefox picking date and save. But when i'm using Internet Explorer and Edge browser, i am getting this error

![image](https://user-images.githubusercontent.com/38925432/40332900-75fb692e-5d73-11e8-8ee9-867f6dae1a0a.png)

[2018-06-19 06:28] puranjayjain commented on #242
Hi @Arunaki you will need to use polyfills as suggested in the docs for edge and IE. https://puranjayjain.github.io/md-date-time-picker/#documentation/ie

[2018-06-28 17:43] lloydbanks commented on #230
Hi sohailrajdev97,
Could you please provide an example of how to disable specific days? I still can't figure it out :(

[2018-06-28 17:56] sohailrajdev97 commented on #230
@lloydbanks. See the `past` argument in official docs.

https://puranjayjain.github.io/md-date-time-picker/#documentation/init

[2018-06-28 18:11] sohailrajdev97 commented on #230
For an example, see line number 95 in this file : https://github.com/ID-BPHC/Instruction-Division-2.0/blob/master/views/room-booking/step1.jade

[2018-06-28 18:21] lloydbanks commented on #230
@sohailrajdev97 thanks for your reply and example, I know about `past `and `future` args and as I understand they allow only to subtract a whole period, e.g `7 days`.
What I mean is to disable specific single days, e.g: June 6 and June 11 should be not active.

[2018-07-11 10:22] puranjayjain commented on #230
Hi, @sohailrajdev97  @lloydbanks  there is no such provision in the current project to disable single days, however, you can do so by tinkering with the code.

I would suggest you add a class to each cell you want to disable, look here https://github.com/puranjayjain/md-date-time-picker/blob/master/src/js/mdDateTimePicker.js#L560 and add CSS attribute `pointer-events: none;` property

[2018-07-20 08:51] aiperon opened #244 "Year picker is not working for some initial dates on default"
Year picker crashes on current year out of [past, future] range. The default value for **past** is 21 years ago, so it's could happen unexpectedly.

The hotfix: set custom **past**  and **future** options.

[2018-07-24 07:40] #244 closed

[2018-09-02 15:33] emil-zhivkov opened #247 "Dynamic change past and future option"
Hello can i dynamic change future or past option. Or is there a possibility to use this date picker like date range picker ?

[2018-09-03 06:50] puranjayjain commented on #247
@emil-zhivkov  Sorry, but we don't support that functionality out of the box yet.

[2018-09-03 08:09] emil-zhivkov commented on #247
Can i change future or past options dinamicly ?

[2018-09-04 06:47] puranjayjain commented on #247
@emil-zhivkov yes you can do that see https://puranjayjain.github.io/md-date-time-picker/#documentation/past

[2018-09-13 01:18] kwangheum opened #248 "I tested IE Under version 10"
I tested version 10 or lower, and I am using "classList "and "CustomEvent" in the current version, so I have an error.

I am using "classList "and "CustomEvent"in the redefinition. I think that the developer should support the methods that can be redefined in IE 10 and below.

In Korea, there are many people who use less than 10 versions .. :)

(I hate...)

[2018-09-14 05:43] puranjayjain commented on #248
@kwangheum  see this https://puranjayjain.github.io/md-date-time-picker/#documentation/ie

[2018-09-18 14:34] emil-zhivkov commented on #247
@puranjayjain tell me how i have start date and end date 2 datepickrs how i limit it start date always be <= end date i need dynamicly change past and future options

[2018-09-18 16:13] puranjayjain commented on #247
@emil-zhivkov sorry I didn't understand your question, can you rephrase it?

[2018-09-19 05:55] emil-zhivkov commented on #247
OKay this situation:
i have 2 date pickers 1. Start date and 2. End date i must choose period.
and when i select some date from 1. Start date u must dynamicly set past date to 2. End date :)
or when u choose 2 u myst dynamicaly set limit tu future option for 1.
How can i do that ?

[2018-09-21 11:07] sethi2307 commented on #143
Facing the same issue. Can you help with the fix.

[2018-12-05 04:57] dinhducit commented on #69
this bug still occurs in version 2.3.0

[2019-01-07 18:43] timboctwo commented on #152
Is there a way to change the date return format?

[code]
Nevermind, I just look in the code that "z.time" is a moment object. I just add `z.time.format('L').toString();` and does the trick.

[2019-01-08 04:09] #152 closed

[2019-07-01 15:04] xeon826 opened #251 "Dependencies not adequately listed in package.json"
So I install this plugin via npm, I look through [here](https://github.com/puranjayjain/md-date-time-picker/issues/16) and use `import mdDateTimePicker from 'md-date-time-picker/src/js/mdDateTimePicker';` along with the latter function, (quick note for me it's `dialog['time']` as opposed to `dialog.time()` but I wanted to point out that it does not install the required dependencies

`    "babel-pl

[2019-07-03 06:35] puranjayjain commented on #251
I'm not quite able to understand what you are pointing out here

[2019-07-03 14:35] xeon826 commented on #251
So I install this plugin via `npm install md-date-time-picker" but this is by no means the end of the story. Afterwards, it gives me the error 'Unknown plugin "transform-es3-member-expression-literals"', so I install that and it asks for several other plugins like the ones listed above. I also ended up having to create a .babelrc in the root dir with
[code]
I'm not sure if this was necessary but i

[2019-07-04 06:40] puranjayjain commented on #251
I think the babel dependencies have changed since the inception of this project and need to be fixed, can you raise a PR with your above fix? That would be really helpful 😄

[2019-07-11 13:35] xeon826 commented on #251
It's fixed.

[2019-07-11 13:35] #251 closed

[2019-08-28 12:55] vwfox commented on #69
your can dirty fix it by prevent mouseevents on disabled next or prev buttons

`#mddtp-date__left:disabled,#mddtp-date__right:disabled{
    pointer-events: none;
  }`

[2019-11-18 09:54] GitWithMe opened #256 "How do I change output format? Like I only want date in DD-MM-YYYY as output"
# Issue Templates

- Search the currently opened issues and past issues before posting a new one.
- Escalate issues by making a reaction of :+1: at the first comment on the issue (the issue author's)
- Be clear and try to open an issue with one problem at a time (open multiple issues if you have multiple problems)

[2019-11-21 03:36] puranjayjain commented on #256
@GitWithMe  Please see moment's documentation for that see the section under display formats.

[2020-01-28 23:38] Arunaki opened #257 "Calendar(broken) Responsive issue -When Changing the year(navigating through month)"
If change the year using  month prev navigation icon, changing more than one year calendars UI breaks.

![image](https://user-images.githubusercontent.com/38925432/73314901-a91a9880-4254-11ea-906d-7b06e0160684.png)

[2020-01-28 23:40] #242 closed

[2020-02-05 04:30] puranjayjain commented on #257
Got it

[2020-06-11 09:46] im-n1 commented on #106
Just bumped into this. Since no futher action was made by the maintainer I came up with this dirty hack:

[code]

[2021-09-29 07:28] randoum opened #270 "Uncaught TypeError: mdDateTimePicker.default is not a constructor"
Just copy the doc https://puranjayjain.github.io/md-date-time-picker/#documentation/basicexample and I get the error described in title. Outdated documentation?

[2021-09-29 08:13] puranjayjain commented on #270
What's the environment you're running this in. This is a very env specific command.

[2022-10-18 06:25] Nbkatigbak17 opened #278 "When mddtp-next-handle is clicked way to fast the calendar starts to stay on 1 month only during rendering"
Hi, Great Datepicker tool.

I would like to ask help regarding my current scenario whenever I click the mddtp-next-handle right or left button way to fast. The calendar popup isn't able to render fast enough thus it throws an error

Cannot read properties of null (reading 'removeChild')
    at <anonymous>:14:33731

I would like to ask is there an existing fix for this

[2022-10-18 06:29] Nbkatigbak17 commented on #278
It seems to not delete mddtp-date__previous
![image](https://user-images.githubusercontent.com/116058778/196352640-7226ac7e-ae91-464c-a8bc-661896689778.png)